services:
  webapi:
    image: ghcr.io/${GITHUB_USER_NAME}/${IMAGE_NAME}:latest
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - urls=http://0.0.0.0:8080
      - S3AwsSettings__AccessKey=${S3_ACCESS_KEY}
      - S3AwsSettings__SecretKey=${S3_SECRET_KEY}
      - RedisDatabaseSettings__Password=${REDIS_PASSWORD}
      - ElasticsearchSettings__Password=${ELASTICSEARCH_PASSWORD}
      - DatabaseSettings__DatabaseConnection=${DATABASE_CONNECTION}
      - HangfireSettings__Storage__ConnectionString=${DATABASE_CONNECTION}
      - HangfireSettings__Credentials__Username=${HANGFIRE_USERNAME}
      - HangfireSettings__Credentials__Password=${HANGFIRE_PASSWORD}
      - SecuritySettings__JwtSettings__SecretKey=${JWT_SECRET_KEY}
    networks:
      - the-template-network
    deploy:
      replicas: 3
    healthcheck:
      test: ["CMD", "curl", "-f", "http://webapi/health"]
      interval: 30s
      timeout: 10s
      retries: 3

  nginx:
    image: nginx:latest
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "80:80"
    networks:
       - the-template-network
    depends_on:
      - webapi
networks:
  the-template-network:
    external: true
